.welcome {
  border: 5px solid red;
  box-shadow: 5px 5px 5px rgb(4, 9, 43);
  text-align: center;
  width: 300px;
  background-color: white;
  color: red;
  padding: 10px;
  border-radius: 25px;
  font-family: "Times New Roman", Times, serif;
}
body {
  background-color: gray;
}
.middle {
  border: 5px groove green;
  height: 600px;
}

.one {
  width: 200px;
  height: 200px;
  border: 5px solid red;
  box-shadow: 5px 5px 5px rgb(4, 9, 43);
  background-color: white;
  color: blueviolet;
  font-size: 25px;
  line-height: 40px;
  padding: 10px;
  position: relative;
  top: 10px;
  text-align: center;
  border-radius: 20px;
}
.two {
  position: relative;
  left: 1000px;
  width: 200px;
  height: 200px;
  border: 5px solid red;
  box-shadow: 5px 5px 5px rgb(4, 9, 43);
  background-color: white;
  bottom: 220px;
  padding: 10px;
  border-radius: 20px;
}
.three {
  width: 200px;
  height: 200px;
  border: 5px solid red;
  box-shadow: 5px 5px 5px rgb(4, 9, 43);
  background-color: white;
  color: blueviolet;
  font-size: 25px;
  line-height: 25px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  bottom: 100px;
}
.four {
  width: 200px;
  height: 200px;
  border: 5px solid red;
  box-shadow: 5px 5px 5px rgb(4, 9, 43);
  background-color: white;
  color: blueviolet;
  position: relative;
  bottom: 330px;
  left: 1000px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}
input {
  text-align: center;
}
.sub {
  background-color: red;
  border-radius: 25px;
}
.five {
  display: flex;
  width: 300px;
  padding: 5px;
  border: 5px solid red;
  box-shadow: 5px 5px 5px rgb(4, 9, 43);
  background-color: yellow;
  color: red;
  border-radius: 10px;
  text-align: center;
  position: fixed;
  top: 500px;
  left: 550px;
}

.main {
  width: 700px;
  border: 5px solid violet;
  text-align: center;
  background-color: green;
}
.welcome1 {
  margin-top: 10px;
  font-size: 25px;
}
.main2 {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.fruits {
  width: 345px;
  background-color: yellow;
  line-height: 25px;
}
.vegetables {
  width: 350px;
  background-color: yellow;
  line-height: 25px;
}
.otheritems{
  width: 720px;
  background-color: yellow;
  line-height: 30px;
}
